<footer class="footer cmt-bgcolor-darkgrey widget-footer clearfix">
    <div class="first-footer">
        <div class="container">
            <div class="row ">
                <section class="row ">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_text mr-25 clearfix">
                            <h3 class="widget-title">Hakkımızda</h3>
                            <div class="textwidget widget-text">
                                <p>Metayıldız, 2022 yılında Sedat OCAKCI tarafından kurulan İzmir merkezli bilişim, teknoloji, AR-GE şirketidir. Bünyesinde bulundurduğu teknoloji altyapısı, alanında uzman kadrosuyla birlikte, Endüstri 4.0 yolunda hızla ilerlemektedir. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                        <div class="widget widget_nav_menu clearfix">
                            <h3 class="widget-title">Hızlı Menü</h3>
                            <ul id="menu-footer-quick-links">
                                <li><a href="/Home/MSSihiDrone">MetaSavunma</a></li>
                                <li><a href="/Home/MYYapayZeka">MetaYazılım</a></li>
                                <li><a href="/Home/About">Hakkında</a></li>
                                <li><a href="/Home/Directors">Yönetim Kurulu</a></li>
                                <li><a href="/Home/Contact">İletişim</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="second-footer">
        <div class="container">
            <div class="row no-gutters">
                <div class="widget-area col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <aside class="widget widget-text">
                        <!--featured-icon-box-->
                        <div class="featured-icon-box icon-align-before-content">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-fill cmt-icon_element-color-darkgrey cmt-icon_element-size-sm cmt-icon_element-style-square">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5><a href="mailto:info@metayildiz.com.tr">info@metayildiz.com.tr</a></h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Bize mesaj atın</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end-->
                    </aside>
                </div>
                <div class="widget-area col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <aside class="widget widget-text cmt-bgcolor-skincolor">
                        <!--featured-icon-box-->
                        <div class="featured-icon-box icon-align-before-content">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-fill cmt-icon_element-color-darkgrey cmt-icon_element-size-sm cmt-icon_element-style-square">
                                    <i class="fa fa-phone"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>
                                        <a href="tel:02325030015">
                                            +0 (232) 503 00 15
                                        </a>
                                    </h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Bize Ulaşın!</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end-->
                    </aside>
                </div>
                <div class="widget-area col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <aside class="widget widget-text">
                        <!--featured-icon-box-->
                        <div class="featured-icon-box icon-align-before-content">
                            <div class="featured-icon">
                                <div class="cmt-icon cmt-icon_element-fill cmt-icon_element-color-darkgrey cmt-icon_element-size-sm cmt-icon_element-style-square">
                                    <a href="https://www.google.com/maps/place/Ocakc%C4%B1+Holding/38,4749674,27.0336995,16.75z/data=!4m6!3m5!1s0x14bbdbb9cf35434f:0x55312f119bb5976d!8m2!3d38.4749743!4d27.0372641!16s%2Fg%2F11v5v7nskd?entry=ttu">
                                        <i class="fa fa-map-marker"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>İZMİR / ÇİĞLİ</h5>
                                </div>
                                <div class="featured-desc">
                                    <a href="https://www.google.com/maps/place/Ocakc%C4%B1+Holding/38,4749674,27.0336995,16.75z/data=!4m6!3m5!1s0x14bbdbb9cf35434f:0x55312f119bb5976d!8m2!3d38.4749743!4d27.0372641!16s%2Fg%2F11v5v7nskd?entry=ttu">
                                        <p>10043. Sk. No: 17, 35620 Atatürk Osb</p>
                                    </a>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end-->
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright text-center">
                        <div id="menu-footer-menu">
                            <ul class="footer-nav-menu text-center">
                                <li><a href="/">Anasayfa</a></li>
                                <li><a href="/Home/Corps">Teşkilat</a></li>
                                <li><a href="/Home/Contact">İletişim</a></li>
                            </ul>
                        </div>
                        <span>Copyright © 2022&nbsp;<a href="#">Hira Yazılım</a>. All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>