

<header id="masthead" class="header cmt-header-style-01">
    <!-- top_bar -->
    <div class="top_bar cmt-bgcolor-darkgrey cmt-textcolor-white clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="top_bar_contact_item">
                            <div class="top_bar_icon"><i class="ti ti-alarm-clock"></i></div>Pazartesi - Cuma 9.00 - 18.30
                        </div>
                        <div class="top_bar_contact_item">
                            <div class="top_bar_icon">
                                <a href="https://www.google.com/maps/place/Ocakc%C4%B1+Holding/@(38.4749674),27.0336995,16.75z/data=!4m6!3m5!1s0x14bbdbb9cf35434f:0x55312f119bb5976d!8m2!3d38.4749743!4d27.0372641!16s%2Fg%2F11v5v7nskd?entry=ttu">
                                    <i class="ti ti-location-pin"></i>
                                </a>
                            </div> İZMİR - TR
                        </div>
                        <div class="top_bar_contact_item ml-auto">
                            <div class="top_bar_icon"><i class="fa fa-envelope-o"></i></div><a href="mailto:info@metayildiz.com.tr">info@metayildiz.com.tr</a>
                        </div>
                        <div class="top_bar_social">
                            <ul class="social-icons">
                                <li class="linkedin-icon">
                                    <a target="_blank" href="https://www.linkedin.com/company/meta-y%C4%B1ld%C4%B1z-bili%C5%9Fim-teknolojileri/mycompany/"><i class="ti ti-linkedin"></i></a>
                                </li>
                                <li class="google-icon">
                                    <a target="_blank" href="https://www.youtube.com/&#64;ocakcitv"><i class="ti ti-youtube"></i></a>
                                </li>
                                <li class="twitter-icon">
                                    <a target="_blank" href="https://twitter.com/i/flow/login?redirect_after_login=%2Fmetayildiz%3Fref_src%3Dtwsrc%255Egoogle%257Ctwcamp%255Eserp%257Ctwgr%255Eauthor"><i class="ti ti-twitter-alt"></i></a>
                                </li>
                                <li class="facebook-icon">
                                    <a target="_blank" href="https://www.instagram.com/metayildiztr/"><i class="ti ti-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="cmt-bg cmt-col-bgcolor-yes cmt-right-span cmt-bgcolor-skincolor pl-20">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                            <div class="layer-content">
                                <div class="top_bar_contact_item"><div class="top_bar_icon"><i class="fa fa-phone"></i></div>0 (232) 503 00 15</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- top_bar end-->
    <!-- site-header-menu -->
    <div id="site-header-menu" class="site-header-menu cmt-bgcolor-white">
        <div class="site-header-menu-inner cmt-stickable-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!--site-navigation -->
                        <div class="site-navigation d-flex flex-row align-items-center justify-content-between">
                            <!-- site-branding -->
                            <div class="site-branding ">
                                <a class="home-link" href="/Home/Index" title="Tripzia" rel="home">
                                    <img id="logo-img" class="img-center" src="/temps/images/metalogo.png" alt="logo-img">
                                </a>
                            </div><!-- site-branding end -->
                            <!-- widget-info -->
                            <div class="widget_info mr-auto">
                                <div>İnovasyon &amp; Teknoloji</div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                    <span class="menubar-box">
                                        <span class="menubar-inner"></span>
                                    </span>
                                </div>
                                <!-- menu -->
                                <nav class="main-menu menu-mobile" id="menu">
                                    <ul class="menu">
                                        <li class="mega-menu-item active">
                                            <a href="/Home/Index" class="mega-menu-link">Anasayfa</a>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="#" class="mega-menu-link">Hakkında</a>
                                            <ul class="mega-submenu">
                                                <li><a href="/Home/Directors">Yönetim Kurulu</a></li>
                                                <li><a href="/Home/Corps">Teşkilat</a></li>
                                                <li><a href="/Home/Founder">Kurucumuz</a></li>
                                                <li><a href="/Home/Vision">Vizyon ve Misyon</a></li>
                                                <li><a href="/Home/About">Hakkında</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="#" class="mega-menu-link">MetaSavunma</a>
                                            <ul class="mega-submenu">
                                                <li><a href="/Home/MSSavunmaDrone">Savunma Dronu</a></li>
                                                <li><a href="/Home/MSTarım">Tarım Dronu</a></li>
                                                <li><a href="/Home/MSGözetleme">Gözetleme Dronları</a></li>
                                                <li><a href="/Home/MSPuhu">Puhu Surveliance Dronu</a></li>
                                                <li><a href="/Home/MSGölge">Gölge Surveliance Dronu</a></li>
                                                <li><a href="/Home/MSGökcil">Gökcil</a></li>
                                                <li><a href="/Home/MSVtol">VTOL</a></li>
                                                <li><a href="/Home/MSIha">IHA Sistemi</a></li>
                                                <li><a href="/Home/MSRobot">Robot Köpek</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="#" class="mega-menu-link">MetaYazılım</a>
                                            <ul class="mega-submenu">
                                                <li><a href="/Home/MYYapayZeka">Yapay Zeka</a></li>
                                                <li><a href="/Home/MYArttırılmışGerçeklik">Virtual Reality (VR)</a></li>
                                                <li><a href="/Home/MYOyunGeliştirme">Oyun Geliştirme</a></li>
                                                <li><a href="/Home/MYEgitimSimulasyonu">Eğitim Simülasyonu</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="/Home/Contact" class="mega-menu-link">İletİşİm</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!--
                                <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                                    <div class="header_search">
                                        <a href="#" class="btn-default search_btn"><i class="ti ti-search"></i></a>
                                        <div class="header_search_content">
                                            <form id="searchbox" method="get" action="#">
                                                <input class="search_query" type="text" id="search_query_top" name="s" placeholder="Enter Keyword" value="">
                                                <button type="submit" class="btn close-search"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div><!-- site-navigation end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- site-header-menu end-->
</header>