@{
    ViewData["Title"] = "Vizyon";
    Layout = "~/Views/MainLayout.cshtml";
}

<section class="cmt-row about_2-section cmt-bgcolor-grey clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mx-auto">
                <div class="ttm_single_image-wrapper">
                    <img class="img-fluid" src="/temps/images/MSAfis.png" alt="MetaYıldız">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="res-991-pt-30">
                    <!-- section title -->
                    <div class="section-title">
                        <div class="title-header">

                            <h2 class="title" style="font-size:30px;"> <strong>MetaYıldız Bilişim Teknolojileri</strong></h2>
                        </div>
                        <div style="color:black;" class="title-desc">
                        </div>
                    </div><!-- section title end -->


                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-sm">
                                <i class="fa fa-circle-o"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-desc">
                                <p style="color:black; font-size:16px;">
                                    Metayıldız, 2022 yılında Sedat OCAKCI tarafından kurulan İzmir merkezli bilişim, teknoloji ve AR-GE şirketidir.

                                    Bünyesinde bulundurduğu teknoloji altyapısı, alanında uzman kadrosuyla birlikte, Endüstri 4.0 yolunda hızla ilerlemektedir.

                                    Savunma sanayisi, yenilebilir enerji, aktif teknoloji, sanal gerçeklik alanlarında hizmet vermektedir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>
