@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/MainLayout.cshtml";
}


<!-- page-title end -->
<!--site-main start-->
<div class="site-main">

    <!--google_map-->
    <div id="google_map" class="google_map res-991-mt-30">
        <!--
           <div class="map_container">
               <div id="map">

               </div>
           </div>
        -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3123.5487247410197!2d27.034689176393947!3d38.47497847151744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbdbb9cf35434f%3A0x55312f119bb5976d!2sOcakc%C4%B1%20Holding!5e0!3m2!1str!2str!4v1691398377906!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <!--- conatact-section -->
    <section class="cmt-row conatact-section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cmt-col-bgcolor-yes cmt-bg cmt-bgcolor-white z-index-2 spacing-7 box-shadow">
                        <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                        <div class="row ">
                            <div class="col-lg-4 col-md-5">
                                <div class="cmt-bgcolor-darkgrey pt-30 pb-30 pl-30 pr-30">
                                    <div class="mb-20">
                                        <h4>Adres</h4>
                                        <p>
                                            <a href="https://www.google.com/maps/place/Ocakc%C4%B1+Holding/@(38.4749674),27.0336995,16.75z/data=!4m6!3m5!1s0x14bbdbb9cf35434f:0x55312f119bb5976d!8m2!3d38.4749743!4d27.0372641!16s%2Fg%2F11v5v7nskd?entry=ttu">
                                                <i class="ti ti-location-pin"></i>
                                                A.O.S.B 10043 SK. No:17
                                            </a>
                                        </p>
                                    </div>
                                    <h4>İletişim</h4>
                                    <div class="cmt-textcolor-white">Mail: <a href="mailto:info@metayildiz.com.tr">info@metayildiz.com.tr</a></div>
                                    <div class="cmt-textcolor-white">Destek: <a href="mailto:metayildizbilisim@gmail.com">metayildizbilisim@gmail.com</a></div>
                                </div>
                                <div class="cmt-bgcolor-skincolor pt-30 pb-25 pl-30 pr-30">
                                    <h5 class="font-weight-normal"><strong>Telefon</strong></h5>
                                    <div class="d-flex align-items-center pt-10">
                                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-white cmt-icon_element-size-xs cmt-icon_element-style-rounded mb-10 mr-15">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <h4>
                                            <a href="tel:02325030015">
                                                0 (232) 503 00 15
                                            </a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-7">
                                <div class="pl-30 res-991-pl-0 res-767-mt-30">
                                    <!-- section title -->
                                    <div class="section-title with-desc clearfix">
                                        <div class="title-header">
                                            <h5>Projeniz mi var?</h5>
                                            <h2 class="title">Bize <strong>Ulaşın?</strong></h2>
                                        </div>
                                    </div><!-- section title end -->
                                    <form id="contact_form" class="contact_form wrap-form pt-15 clearfix" method="post" novalidate="novalidate" action="#">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <label>
                                                    <span class="text-input"><input name="name" type="text" value="" placeholder="İsim" required="required"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label>
                                                    <span class="text-input"><input name="address" type="text" value="" placeholder="Mail" required="required"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <label>
                                                    <span class="text-input"><input name="phone" type="text" value="" placeholder="Telefon" required="required"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <label>
                                                    <span class="text-input"><input name="phone" type="text" value="" placeholder="Konu" required="required"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <label>
                                            <span class="text-input"><textarea name="message" rows="5" placeholder="İleti" required="required"></textarea></span>
                                        </label>
                                        <button class="submit cmt-btn cmt-btn-size-lg cmt-btn-shape-rounded cmt-btn-style-border cmt-btn-color-dark w-100" type="submit">Gönder !</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->

        </div>
    </section>


</div>

