@{
    ViewData["Title"] = "Teşkilat";
    Layout = "~/Views/MainLayout.cshtml";
}

<section class="cmt-row about_2-section cmt-bgcolor-grey clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mx-auto">
                <div class="ttm_single_image-wrapper">
                    <img class="img-fluid" src="/temps/images/sedatbey.jpg" alt="single_11">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="res-991-pt-30">
                    <!-- section title -->
                    <div class="section-title">
                        <div class="title-header">

                            <h2 class="title" style="font-size:30px;"> <strong>Teşkilat</strong></h2>
                        </div>
                        <div style="color:black;" class="title-desc">Sedat OCAKCI (d. 18.01.1990, Kadışehri,Yozgat) Metayıldız Bilişim Teknolojileri Yönetim Kurulu Başkanı.</div>
                    </div><!-- section title end -->


                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-sm">
                                <i class="fa fa-circle-o"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Yaşamı</h5>
                            </div>
                            <div class="featured-desc">
                                <p style="color:black; font-size:16px;">1990 yılında Hatun ve Burhan OCAKCI çiftinin 4 çocuğunun ilki olarak dünyaya geldi. İlk ve orta öğrenimini memleketi Yozgat’ta tamamlayan OCAKCI, bunun devamında 2013 Anadolu Üniversitesi İşletme Fakültesi’nde lisans öğrenimini tamamladı. <br /><br />Akabinde 2015 yılında Seçilay OCAKCI ile dünya evine girdi. 2016 yılında kızı Hiranur’u kucağına alan Sedat OCAKCI, 2018 yılına kadar yazılım sektörü üzerine çalışmalar yapan Sedat 	OCAKCI, özsermayesi ile özel iş hayatına atılmaya karar verdi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-sm">
                                <i class="fa fa-circle-o"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>İş Hayatı</h5>
                            </div>
                            <div class="featured-desc">
                                <p style="color:black; font-size:16px;">2018-2020 yılları arasında özellikle yazılım alanında kendisini geliştiren OCAKCI, bu iki yılı müteakiben özkaynaklarını kullanarak İzmir’de Hira Yazılım Eğitim ve Danışmanlık markasıyla iş hayatına atıldı. Geliştirdiği ticaret yazılımları ile büyüyen Hira Yazılım markasının ardından, özellikle teknolojinin insan hayatındaki yerinin önemine vurgu yaparak Metayıldız Bilişim Teknolojileri’nin kurdu. Türkiye’de VR ve Metaverse alanında çalışmalar yapan Sedat OCAKCI, aynı yıl içerisinde aktif teknoloji, sürdürülebilir kalkınma, yenilenebilir enerji sektörlerinde Ar-Ge yatırımları yaparak bilişim alanına ağırlık verdi.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>
