@{
    ViewData["Title"] = "Yönetim Kurulu";
    Layout = "~/Views/MainLayout.cshtml";
}

<section class="cmt-row about_2-section cmt-bgcolor-grey clearfix">
    <div class="container">
        <div class="row">
            <div class="container">
                <!-- row -->
                <div class="row align-items-center">
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <!-- section title -->
                        <div class="section-title">
                            <div class="title-header pb-5">
                                <h5>Yönetim Kurulu</h5>

                            </div>
                        </div><!-- section title end -->
                    </div>
                </div><!-- row end -->
                <!-- slick_slider -->
                <div class="row slick_slider" data-slick='{"slidesToShow": 2, "slidesToScroll": 1, "arrows":false, "autoplay":true, "infinite":true, "centerMode":true, "initialSlide":2, "centerPadding":0, "responsive": [{"breakpoint":870,"settings":{"slidesToShow": 2}}, {"breakpoint":540,"settings":{"slidesToShow": 1}}]}'>
                    <div class="cmt-box-col-wrapper col-lg-12">
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post style3">
                            <div class="cmt-post-thumbnail featured-thumbnail">
                                <img class="img-fluid" src="/temps/images/profiles/OguzCetinkaya.png" href="" />
                            </div>
                            <div class="featured-content featured-content-post">
                                <div class="post-header">
                                    <div class="post-title featured-title">
                                        <h5><a href="blog-single.html">Oğuz Çetinkaya</a></h5>
                                    </div>
                                </div>
                                <div class="post-meta">
                                    <span class="cmt-meta-line byline">
                                        Genel Müdür
                                    </span>
                                    <span class="cmt-meta-line post-date"><i class="fa fa-calendar"></i>15 Ağustos 2023</span>
                                </div>
                                <div class="post-desc featured-desc">
                                    <p>Oğuz Çetinkaya MetaSavunma departmanının Genel Müdürüdür.</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox-post end-->
                    </div>
                    <div class="cmt-box-col-wrapper col-lg-12">
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post style3">
                            <div class="cmt-post-thumbnail featured-thumbnail">
                                <img class="img-fluid" src="/temps/images/profiles/RıfatAlkan.png" href="" />
                            </div>
                            <div class="featured-content featured-content-post">
                                <div class="post-header">
                                    <div class="post-title featured-title">
                                        <h5>Mehmet Rıfat Alkan</h5>
                                    </div>
                                </div>
                                <div class="post-meta">
                                    <span class="cmt-meta-line byline">
                                        Yönetim Kurulu Başkan Yardımcısı
                                    </span>
                                    <span class="cmt-meta-line post-date"><i class="fa fa-calendar"></i>07 Ağustos 2023</span>
                                </div>
                                <div class="post-desc featured-desc">
                                    <p>Mehmet Rıfat Alkan MetaYıldız Bilişim Teknolojileri şirketinin Genel Müdürüdür. </p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox-post end-->
                    </div

                    <div class="cmt-box-col-wrapper col-lg-12">
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post style3">
                            <div class="cmt-post-thumbnail featured-thumbnail">
                                <img class="img-fluid" src="/temps/images/profiles/FatmaErden.png" href="" />
                            </div>
                            <div class="featured-content featured-content-post">
                                <div class="post-header">
                                    <div class="post-title featured-title">
                                        <h5>Fatma Erden</h5>
                                    </div>
                                </div>
                                <div class="post-meta">
                                    <span class="cmt-meta-line byline">
                                        Genel Müdür Yardımcısı
                                    </span>
                                    <span class="cmt-meta-line post-date"><i class="fa fa-calendar"></i>07 Ağustos 2023</span>
                                </div>
                                <div class="post-desc featured-desc">
                                    <p>Mehmet Rıfat Alkan MetaYıldız departmanının Genel Müdür Yardımcısıdır. </p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox-post end-->
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>
