@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/MainLayout.cshtml";
}
<link rel='stylesheet' id='rs-plugin-settings-css' href="/temps/revolution/css/rs6.css">

<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery">

    <rs-module id="rev_slider_1_1" data-version="6.1.0">

        <rs-slides>
            <rs-slide data-key="rs-1" data-title="Slide" data-anim="ei:d;eo:d;s:d;r:0;t:slotzoom-horizontal;sl:d;">

                <img src="/temps/images/VR.jpg" title="slider-image" width="1920" height="705" class="rev-slidebg" data-no-retina>

                <rs-layer id="slider-1-slide-1-layer-1"
                          data-type="text"
                          data-color="#fff"
                          data-rsp_ch="on"
                          data-xy="xo:50px,50px,20px,-519px;yo:183px,183px,104px,166px;"
                          data-text="s:17;l:22;fw:500,700,700,300;a:inherit;"
                          data-vbility="t,t,t,f"
                          data-frame_0="y:100%;tp:600;"
                          data-frame_1="tp:600;e:Power0.easeIn;st:270;sp:500;sR:270;"
                          data-frame_999="o:0;tp:600;st:w;sR:8230;"
                          style="z-index:8; text-transform: uppercase;">
                    Geleceğe Hoşgeldİnİz
                </rs-layer>

                <rs-layer id="slider-1-slide-1-layer-2"
                          data-type="text"
                          data-color="#fff"
                          data-rsp_ch="on"
                          data-xy="xo:84px,84px,44px,44px;y:t,t,m,t;yo:223px,223px,-57px,86px;"
                          data-text="w:normal;s:59,59,49,35;l:60,60,50,38;a:left;fw:300;"
                          data-frame_0="y:100%;tp:600;"
                          data-frame_1="tp:600;e:Power0.easeIn;st:400;sp:800;sR:400;"
                          data-frame_999="o:0;tp:600;st:w;sR:7800;"
                          style="z-index:9;font-family: 'Roboto', sans-serif; text-transform:capitalize;">
                    Hayal <strong>Gücünüzü</strong>
                </rs-layer>

                <rs-layer id="slider-1-slide-1-layer-3"
                          data-type="text"
                          data-color="#fff"
                          data-rsp_ch="on"
                          data-xy="xo:84px,84px,44px,44px;y:t,t,m,t;yo:296px,296px,4px,134px;"
                          data-text="w:normal;s:59,59,49,35;l:60,60,50,38;a:left;fw:300;"
                          data-frame_0="y:100%;tp:600;"
                          data-frame_1="tp:600;e:Power0.easeIn;st:660;sp:800;sR:660;"
                          data-frame_999="o:0;tp:600;st:w;sR:7540;"
                          style="z-index:48;font-family: 'Roboto', sans-serif; text-transform:capitalize;">
                    <strong>Gerçeğe </strong> Dönüştürün
                </rs-layer>

                <rs-layer id="slider-1-slide-1-layer-4"
                          class="tp-caption cmt-bgcolor-skincolor"
                          data-type="shape"
                          data-width="6px"
                          data-height="127px,127px,108px,88px"
                          data-rsp_ch="on"
                          data-xy="xo:50px,50px,20px,20px;y:t,t,m,t;yo:223px,223px,-27px,84x;"
                          data-frame_0="scaleY:0;y:100%;tp:600;"
                          data-frame_1="scaleY;1;tp:600;e:Power0.easeIn;st:660;sp:800;sR:660;"
                          data-frame_999="o:0;tp:600;st:w;sR:7640;"
                          style="z-index:48;">

                </rs-layer>






            </rs-slide>

            <rs-slide data-key="rs-2" data-title="Slide" data-thumb="/temps/images/drone.jpg" data-anim="ei:d;eo:d;s:d;r:0;t:slotzoom-horizontal;sl:d;">

                <img src="/temps/images/drone.jpg" title="slider-image" width="1920" height="705" class="rev-slidebg" data-no-retina>

                <rs-layer id="slider-1-slide-2-layer-1"
                          data-type="text"
                          data-color="#fff"
                          data-rsp_ch="on"
                          data-xy="xo:50px,50px,20px,-519px;yo:183px,183px,107px,166px;"
                          data-text="s:17;l:22;fw:500,700,700,300;a:inherit;"
                          data-vbility="t,t,t,f"
                          data-frame_0="y:100%;tp:600;"
                          data-frame_1="tp:600;e:Power0.easeIn;st:270;sp:500;sR:270;"
                          data-frame_999="o:0;tp:600;st:w;sR:8230;"
                          style="z-index:8; text-transform: uppercase;">
                    Geleceğe Güvenle Yürüyelİm
                </rs-layer>

                <rs-layer id="slider-1-slide-2-layer-2"
                          data-type="text"
                          data-color="#fff"
                          data-rsp_ch="on"
                          data-xy="xo:84px,84px,44px,44px;y:t,t,m,t;yo:223px,223px,-57px,86px;"
                          data-text="w:normal;s:59,59,49,36;l:60,60,50,38;a:left;fw:300;"
                          data-frame_0="y:100%;tp:600;"
                          data-frame_1="tp:600;e:Power0.easeIn;st:400;sp:800;sR:400;"
                          data-frame_999="o:0;tp:600;st:w;sR:7800;"
                          style="z-index:9;font-family: 'Roboto', sans-serif; text-transform:capitalize;">
                    Gelişmiş <strong>Teknoloji</strong>
                </rs-layer>

                <rs-layer id="slider-1-slide-2-layer-3"
                          data-type="text"
                          data-color="#fff"
                          data-rsp_ch="on"
                          data-xy="xo:84px,84px,44px,44px;y:t,t,m,t;yo:296px,296px,4px,134px;"
                          data-text="w:normal;s:59,59,49,34;l:60,60,50,38;a:left;fw:300;"
                          data-frame_0="y:100%;tp:600;"
                          data-frame_1="tp:600;e:Power0.easeIn;st:660;sp:800;sR:660;"
                          data-frame_999="o:0;tp:600;st:w;sR:7540;"
                          style="z-index:48;font-family: 'Roboto', sans-serif; text-transform:capitalize;">
                    <strong>
                        Üstün
                    </strong> Güvenlik
                </rs-layer>

                <rs-layer id="slider-1-slide-2-layer-4"
                          class="tp-caption cmt-bgcolor-skincolor"
                          data-type="shape"
                          data-width="6px"
                          data-height="127px,127px,108px,88px"
                          data-rsp_ch="on"
                          data-xy="xo:50px,50px,20px,20px;y:t,t,m,t;yo:223px,223px,-27px,84x;"
                          data-frame_0="scaleY:0;y:100%;tp:600;"
                          data-frame_1="scaleY:1;tp:600;e:Power0.easeIn;st:660;sp:800;sR:660;"
                          data-frame_999="o:0;tp:600;st:w;sR:7640;"
                          style="z-index:48;">

                </rs-layer>







            </rs-slide>
        </rs-slides>

        <rs-progress class="rs-bottom" style="visibility: hidden !important;"></rs-progress>
    </rs-module>
</rs-module-wrap>

<div class="site-main">


    <!--features-section-->
    <section class="cmt-row features_2-section bg-img1 cmt-bg cmt-bgimage-yes clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="mt_80 res-991-mt-0">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- featured-imagebox -->
                                <div class="featured-icon-box icon-align-top-content text-center style4 bor_rad_5">
                                    <div class="bg_icon"><i class="flaticon-passport-10"></i></div>
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                            <i class="flaticon-passport-10"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="content-inner">
                                            <div class="featured-title">
                                                <h5>Savunma Sanayi</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>Savunma sektörünün kritik zorluklarına karşı etkili ve sürdürülebilir çözümler geliştirmek için uzman bir ekip ve ileri teknoloji altyapısıyla hizmet veriyoruz.</p>
                                            </div>
                                        </div>
                                        <a class="cmt-btn btn-inline cmt-btn-size-sm cmt-btn-color-skincolor" href="/Home/MSSavunmaDrone">Daha Fazla</a>
                                    </div>
                                </div><!-- featured-imagebox end-->
                            </div>
                            <div class="col-md-4">
                                <!-- featured-imagebox -->
                                <div class="featured-icon-box icon-align-top-content text-center style4 bor_rad_5">
                                    <div class="bg_icon"><i class="flaticon-certificate"></i></div>
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                            <i class="flaticon-certificate"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="content-inner">
                                            <div class="featured-title">
                                                <h5>Yapay Zeka</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>İleri düzey algoritmalar ve veri analitiğiyle donanmış uzman ekibimizle, müşterilerimizin benzersiz ihtiyaçlarına yönelik akıllı çözümler sunuyoruz. </p>
                                            </div>
                                        </div>
                                        <a class="cmt-btn btn-inline cmt-btn-size-sm cmt-btn-color-skincolor" href="/Home/MYYapayZeka">Daha Fazla</a>
                                    </div>
                                </div><!-- featured-imagebox end-->
                            </div>
                            <div class="col-md-4">
                                <!-- featured-imagebox -->
                                <div class="featured-icon-box icon-align-top-content text-center style4 bor_rad_5">
                                    <div class="bg_icon"><i class="flaticon-address"></i></div>
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                            <i class="flaticon-address"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="content-inner">
                                            <div class="featured-title">
                                                <h5>Sanal Gerçeklik</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>Gelişmiş sanal gerçeklik ekipmanları ve yazılım çözümleriyle size unutulmaz deneyimler sunuyoruz. Gerçekliğin ardına hazır olun.</p>
                                            </div>
                                        </div>
                                        <a class="cmt-btn btn-inline cmt-btn-size-sm cmt-btn-color-skincolor" href="/Home/MYArttırılmışGerçeklik">Daha Fazla</a>
                                    </div>
                                </div><!-- featured-imagebox end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-35 mb_20 res-991-mt-20">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--features-section-->
    <!--introduction-section-->
    <section class="cmt-row introduction-section mt_180 res-991-mt-0 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-xs-12">
                    <div class="cmt-col-bgcolor-yes cmt-bg cmt-bgcolor-white cmt-left-span spacing-5">
                        <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                            <div class="cmt-col-wrapper-bg-layer-inner"></div>
                        </div>
                        <div class="layer-content">
                            <!-- section title -->
                            <div class="section-title">
                                <div class="title-header">
                                    <h5>METAYILDIZ HAKKINDA</h5>
                                    <h2 class="title">Geleceğe <strong>Farklı</strong> Açıdan Bakmak</h2>
                                </div>
                                <div class="title-desc">Hayal Kurmak Başarmanın İlk Adımıdır.</div>
                            </div><!-- section title end -->
                            <p>
                                Metayıldız, 2022 yılında Sedat OCAKCI tarafından kurulan İzmir merkezli bilişim, teknoloji ve AR-GE şirketidir.

                                Bünyesinde bulundurduğu teknoloji altyapısı, alanında uzman kadrosuyla birlikte, Endüstri 4.0 yolunda hızla ilerlemektedir. <a class="cmt-textcolor-skincolor" href="/Home/Founder">Daha Fazla</a>
                            </p>
                            <div class="pt-15 pr-15 res-991-pr-0 res-991-mb-20">
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box icon-align-before-content style2">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-xl cmt-icon_element-style-square">
                                            <i class="flaticon-policy"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5><a href="/Home/Founder">İnovasyon & Teknoloji</a></h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Sınırları zorlayan bir vizyonla, inovasyonun gücünü teknolojiyle harmanlayarak yepyeni bir geleceğe adım atıyoruz.</p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end -->
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box icon-align-before-content style2">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-xl cmt-icon_element-style-square">
                                            <i class="flaticon-policy"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5><a href="/Home/Vision">Yenilik ve Teknolojiye Dair Vizyonumuz</a></h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p> Gelişen dünyada ayak uydurmanın yolu, inovasyon ve teknolojiyi bir araya getirmekten geçiyor. Vizyonumuz, bu iki güçlü unsuru birleştirerek geleceği şekillendirmek ve sınırları zorlamaktır..</p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end -->
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box icon-align-before-content style2">
                                    <div class="featured-icon">
                                        <div class="cmt-icon cmt-icon_element-border cmt-icon_element-color-skincolor cmt-icon_element-size-xl cmt-icon_element-style-square">
                                            <i class="flaticon-contract"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5><a href="/Home/About">Güven</a></h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p> İlkelerimizi güvene dayandırarak, teknolojinin değişim ve dönüşüm süreçlerindeki önemini anlamak ve insanlara pozitif etkiler sağlamak için çabalıyoruz.</p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 mx-md-auto col-sm-7 col-10 mx-auto">
                    <div class="d-flex cmt-boxes-spacing-20px mt_170 res-991-mt-0 mb_20">
                        <div class="cmt-box-col-wrapper">
                            <!-- ttm_single_image-wrapper -->

                        </div>
                        <div class="cmt-box-col-wrapper">
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper pb-20 mt-35 pt-80 res-991-pt-0">
                                <img class="img-fluid" src="/temps/images/indexvr2.jpg" alt="single_06">
                            </div>
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper">
                                <img class="img-fluid" src="/temps/images/indexdrone.jpg" alt="single_07">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!--introduction-section-->
    <!--services-section-->
    <section class="cmt-row services-section cmt-bgcolor-darkgrey bg-img3 cmt-bg cmt-bgimage-yes clearfix">
        <div class="cmt-row-wrapper-bg-layer cmt-bg-layer"></div>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- section title -->
                    <div class="section-title title-style-center_text">
                        <div class="title-header">
                            <h5>Mİsyonumuz</h5>

                        </div>
                    </div><!-- section title end -->
                </div>
            </div><!-- row end -->
            <!-- row -->
            <div class="row mb-40 res-991-mb-15">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                <i class="flaticon-bussiness-man"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Verimlilik</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Yaptığımız işlerde verimlilik esasını hep ön planda tutarak, en kısa zamanda en fazla işi nasıl yaparız felsefesini tüm çalışmalarımızda ortaya koymak.</p>
                            </div>

                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                <i class="flaticon-passport-3"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Kalite ve Sonuç</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Ürün ve hizmetleri, evrensel standartlarda; planlanan zaman, kalite ve maliyetlerde sunmak. Belirlenen hedeflere; ölçülebilir, izlenebilir parametreler yoluyla ulaşmak.</p>
                            </div>

                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                <i class="flaticon-visa-1"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Hizmet</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Müşteri memnuniyeti ve hizmet kalitesini arttırmak için tüm kanallardan kolayca erişilebilir olmak , müşteri istek ve ihtiyaçlarını uygun şekilde çözmek.</p>
                            </div>

                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                <i class="flaticon-insurance"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Ekip Çalışması</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Bireysellikten çok, çalışanlarına bağımsız ve dürüst iş yapma prensibini aşılayıp, güven ortamında ekip çalışmasını sağlamak.</p>
                            </div>

                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                <i class="flaticon-passport-11"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Gizlilik</h5>
                            </div>
                            <div class="featured-desc">
                                <p>Firma bünyesinde birinci derece öneme sahip olan gizlilik ilkesi ile müşteri bilgilerinin gizliğini ve mahremiyetini her zaman ve her şartta ön planda tutmak.</p>
                            </div>

                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                <i class="flaticon-plane-tickets"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                                <h5>Yenilikçilik</h5>
                            </div>
                            <div class="featured-desc">
                                <div class="featured-desc">
                                    <p>Teknolojideki gelişmeleri takip ederek, yenilikçilik prensiplerine odaklanarak yaratıcılık becerilerini geliştirmeyi ve şirketin ilerlemesini hedefliyoruz.</p>
                                </div>

                            </div>
                        </div><!-- featured-icon-box end-->
                    </div>
                </div><!-- row end -->
            </div>
    </section>

    <!--services-section-->
    <!--cta-section-->
    <!--cta-section-->
    <!--services_row-section-->
    <!--services_row-section end-->
    <!--testimonial-section-->
    <!--testimonial-section-->



</div>
<script src="/temps/revolution/js/slider.js"></script>

<!-- SLIDER REVOLUTION 6.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->

<script src='/temps/revolution/js/revolution.tools.min.js'></script>
<script src='/temps/revolution/js/rs6.min.js'></script>