@{
    ViewData["Title"] = "Savunma Drone";
    Layout = "~/Views/MainLayout.cshtml";
}


<!-- page-title end -->
<!--site-main start-->
<div class="site-main">
    <div class="row slick_slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "autoplay":true, "infinite":true, "centerMode":true, "initialSlide":2, "centerPadding":0, "responsive": [{"breakpoint":870,"settings":{"slidesToShow": 2}}, {"breakpoint":540,"settings":{"slidesToShow": 1}}]}'>

        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/SavunmaDrone1.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/SavunmaDrone1.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/SavunmaDrone2.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/SavunmaDrone1.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/SavunmaDrone1.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
    </div>
    <div class="cmt-row sidebar cmt-sidebar-left cmt-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4  cmt-bg cmt-left-span  mt_80 pt-60 mb_80 pb-60 res-991-mt-0 res-991-pt-0 widget-area sidebar-left">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <aside class="widget widget-nav-menu">
                        <ul class="widget-menu">
                            <li><a href="/Home/MSSavunmaDrone">Savunma Dronu</a></li>
                            <li><a href="/Home/MSTarım">Tarım Dronu</a></li>
                            <li><a href="/Home/MSGözetleme">Gözetleme Dronu</a></li>
                            <li><a href="/Home/MSPuhu">Puhu Surveliance Dronu</a></li>
                            <li><a href="/Home/MSGölge">Gölge Surveliance Dronu</a></li>
                            <li><a href="/Home/MSVtol">VTOL</a></li>
                            <li class="active"><a href="/Home/MSIha">IHA Sistemi</a></li>
                            <li><a href="/Home/MSRobot">Robot Köpek</a></li>
                        </ul>

                    </aside>
                    <aside class="widget widget-contact">

                        <div class="cmt-col-bgcolor-yes cmt-bgcolor-skincolor cmt-bg pt-20 pl-20 pr-20 pr-20 pb-20">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <p class="mb-10"><strong style="color:#ffff;">Bizimle İletişime Geçin</strong></p>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:02325030015">0 (232) 503 00 15</a></h4>
                            </div>
                        </div>
                    </aside>

                </div>
                <div class="col-lg-8 content-area">
                    <div class="cmt-service-single-content-area">
                        <div class="cmt-service-description">
                            <h4>Gözetleme Dronları</h4>
                            <p>Gözetleme droneları, güvenlik, keşif ve izleme gibi amaçlarla kullanılan insansız hava araçlarıdır. Bu dronlar, genellikle yüksek çözünürlüklü kameralar, termal kameralar ve diğer sensörlerle donatılarak çeşitli gözetleme görevlerini yerine getirirler. Güvenlik amaçlı kullanıldıklarında, güvenlik güçlerinin ve güvenlik departmanlarının kritik bölgeleri, sınırları veya olay yerlerini izlemesine yardımcı olurlar. Zorlu ve tehlikeli bölgelere erişimin kısıtlı olduğu durumlarda, dronelar hızlı ve etkin bir şekilde gözetim sağlayabilirler.</p>
                            <p>Keşif amaçlı kullanıldıklarında, dronelar doğal afet bölgelerini, dağlık veya ormanlık alanları, denizleri ve diğer uzak bölgeleri keşfetmek için kullanılırlar. Bu, insanların ulaşması güç olan bölgelerde keşif ve izleme yapmayı mümkün kılar. Aynı zamanda gözetleme droneları, endüstriyel ve tarımsal alanlarda da kullanılır. Örneğin, orman yangınları gibi afetlerin erken tespiti ve izlenmesinde, enerji hatları veya boru hatları gibi altyapıların periyodik denetimi ve izlenmesinde, tarım arazilerinin verimliliğini artırmak için bitki sağlığı ve sulama durumunun izlenmesinde kullanılabilirler.</p>
                            <div class="row ">
                                <div class="col-sm-6">
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/drone.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Drone</h5>
                                            </div>
                                            <div class="featured-desc ">
                                                <ul style="list-style-type:none;">
                                                    <li>SD Kart</li>
                                                    <li>Adaptör</li>
                                                    <li>Type-C</li>
                                                    <li>Batarya</li>
                                                    <li>Dron</li>
                                                    <li>Kontrol Kumandası</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/settings.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Özellikler</h5>
                                            </div>
                                            <div class="featured-desc ">
                                                <ul style="list-style-type:none;">
                                                    <li>SD Kart</li>
                                                    <li>Adaptör</li>
                                                    <li>Type-C</li>
                                                    <li>Batarya</li>
                                                    <li>Dron</li>
                                                    <li>Kontrol Kumandası</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <!--featured-icon-box-->
                                <div class="col-sm-6">
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/pilot.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Kontrol Kumandası</h5>
                                            </div>
                                            <div class="featured-desc ">
                                                <ul style="list-style-type:none;">
                                                    <li>SD Kart</li>
                                                    <li>Adaptör</li>
                                                    <li>Type-C</li>
                                                    <li>Batarya</li>
                                                    <li>Dron</li>
                                                    <li>Kontrol Kumandası</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div><!-- featured-icon-box end-->
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/box.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Paket</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <ul style="list-style-type:none;">
                                                    <li>SD Kart</li>
                                                    <li>Adaptör</li>
                                                    <li>Type-C</li>
                                                    <li>Batarya</li>
                                                    <li>Dron</li>
                                                    <li>Kontrol Kumandası</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <!--featured-icon-box-->
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </div>


</div>