@{
    ViewData["Title"] = "Savunma Drone";
    Layout = "~/Views/MainLayout.cshtml";
}


<!-- page-title end -->
<!--site-main start-->
<div class="site-main">
    <div class="row slick_slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "autoplay":true, "infinite":true, "centerMode":true, "initialSlide":2, "centerPadding":0, "responsive": [{"breakpoint":870,"settings":{"slidesToShow": 2}}, {"breakpoint":540,"settings":{"slidesToShow": 1}}]}'>

        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSPuhu1.png" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSPuhu2.png" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/SavunmaDrone2.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/SavunmaDrone1.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/SavunmaDrone1.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
    </div>
    <div class="cmt-row sidebar cmt-sidebar-left cmt-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4  cmt-bg cmt-left-span  mt_80 pt-60 mb_80 pb-60 res-991-mt-0 res-991-pt-0 widget-area sidebar-left">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <aside class="widget widget-nav-menu">
                        <ul class="widget-menu">
                            <li><a href="/Home/MSSihiDrone">Sihi Dronu</a></li>
                            <li><a href="/Home/MSTarım">Gökcil Dronu</a></li>
                            <li class="active"><a href="/Home/MSPuhu">Puhu Surveliance Dronu</a></li>
                            <li><a href="/Home/MSGölge">Gölge Surveliance Dronu</a></li>
                            <li><a href="/Home/MSVtol">VTOL</a></li>
                            <li><a href="/Home/MSIha">IHA Sistemi</a></li>
                            <li><a href="/Home/MSRobot">Robot Köpek</a></li>
                        </ul>

                    </aside>
                    <aside class="widget widget-contact">

                        <div class="cmt-col-bgcolor-yes cmt-bgcolor-skincolor cmt-bg pt-20 pl-20 pr-20 pr-20 pb-20">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <p class="mb-10"><strong style="color:#ffff;">Bizimle İletişime Geçin</strong></p>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:02325030015">0 (232) 503 00 15</a></h4>
                            </div>
                        </div>
                    </aside>

                </div>
                <div class="col-lg-8 content-area">
                    <div class="cmt-service-single-content-area">
                        <div class="cmt-service-description">
                            <h4>Puhu Surveillance Dronu</h4>
                            <p>Keşif droneları, günümüzde giderek artan bir ilgi ve kullanım alanına sahip olan teknolojik araçlardır. Bu dronelar, havadan yüksek çözünürlüklü görüntüler elde etme, veri toplama ve çeşitli alanlarda keşif yapma amacıyla kullanılırlar.</p>
                            <p>Puhu, kullanım yerleri olarak zorlu ve tehlikeli bölgelere erişim sağlamadan, risk faktörlerini minimumda tutarak veri toplama ve gözlem yapma imkanı sunarlar. Doğal afetlerden, orman yangınlarına, arazi incelemelerinden arkeolojik kazılara kadar birçok alanda kullanılabilmeleri, insana ulaşmanın zor olduğu alanlarda önemli bilgilerin elde edilmesine yardımcı olur. </p>
                            <div class="row ">
                                <div class="col-sm-6">
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/drone.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Drone</h5>
                                            </div>
                                            <div class="featured-desc row justify-content-center">
                                                <ul class="px-2" style="list-style-type:none;">
                                                    <li>Uçuş Süresi: 20 dk</li>
                                                    <li>Maksimum Hız: 18 m/s </li>
                                                    <li>Uçuş Yüksekliği: 120m</li>
                                                    <li>Max İniş Hızı: 1.5 m/s</li>
                                                    <li>Max Kalkış Hızı: 6 m/s</li>
                                                    <li>Gece/Gündüz Görev Kapasitesi</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/settings.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Özellikler</h5>
                                            </div>
                                            <div class="featured-desc row justify-content-center">
                                                <ul class="px-2" style="list-style-type:none;">
                                                    <li>Ağırlık: 1376g</li>
                                                    <li>GPS / GLONASS</li>
                                                    <li>Boyut: 300x146x139 mm</li>
                                                    <li>Maksimum Yükseklik: 120 m</li>
                                                    <li>Kamera: FOV 94Â° F/NO: F2.8</li>
                                                    <li>Maksimum Uçuş Süresi: 20 dk</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <!--featured-icon-box-->
                                <div class="col-sm-6">
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/pilot.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Kontrol Kumandası</h5>
                                            </div>
                                            <div class="featured-desc row justify-content-center">
                                                <ul class="px-2" style="list-style-type:none;">
                                                    <li>Adaptör</li>
                                                    <li>Ulusal Dizayn</li>
                                                    <li>Android 9.0 OS</li>
                                                    <li>Transmitter Power (EIRP): < 23dBm </li>
                                                    <li>Max Transmission Distance: 2000 m </li>
                                                    <li>Op. Frequency: 2426.5-2461 MHz</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div><!-- featured-icon-box end-->
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/box.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Paket</h5>
                                            </div>
                                            <div class="featured-desc row justify-content-center">
                                                <ul class="px-2" style="list-style-type:none;">
                                                    <li>Puhu</li>
                                                    <li>Type-C</li>
                                                    <li>Batarya</li>
                                                    <li>Şarz Cihazı</li>
                                                    <li>Kontrol Kumandası</li>
                                                    <li>Kumanda Şarz Cihazı</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <!--featured-icon-box-->
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </div>


</div>