@{
    ViewData["Title"] = "Savunma Drone";
    Layout = "~/Views/MainLayout.cshtml";
}


<!-- page-title end -->
<!--site-main start-->
<div class="site-main">
    <!--
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <video class="d-block w-100" width="640" height="360" autoplay loop muted>
                    <source src="/temps/video/mySavunma.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="carousel-item">
                <video class="d-block w-100" width="640" height="360" autoplay loop muted>
                    <source src="/temps/video/mySavunma2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    -->
    <div class="cmt-row sidebar cmt-sidebar-left cmt-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4  cmt-bg cmt-left-span  mt_80 pt-60 mb_80 pb-60 res-991-mt-0 res-991-pt-0 widget-area sidebar-left">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <aside class="widget widget-nav-menu">
                        <ul class="widget-menu">
                            <li><a href="/Home/MSSavunmaDrone">Savunma Dronu</a></li>
                            <li><a href="/Home/MSTarım">Tarım Dronu</a></li>
                            <li><a href="/Home/MSGözetleme">Gözetleme Dronu</a></li>
                            <li><a href="/Home/MSPuhu">Puhu Surveliance Dronu</a></li>
                            <li><a href="/Home/MSGölge">Gölge Surveliance Dronu</a></li>
                            <li><a href="/Home/MSGökcil">Gökcil</a></li>
                            <li><a href="/Home/MSVtol">VTOL</a></li>
                            <li><a href="/Home/MSIha">IHA Sistemi</a></li>
                            <li class="active"><a href="/Home/MSRobot">Robot Köpek</a></li>
                        </ul>

                    </aside>
                    <aside class="widget widget-contact">

                        <div class="cmt-col-bgcolor-yes cmt-bgcolor-skincolor cmt-bg pt-20 pl-20 pr-20 pr-20 pb-20">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <p class="mb-10"><strong style="color:#ffff;">Bizimle İletişime Geçin</strong></p>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:02325030015">0 (232) 503 00 15</a></h4>
                            </div>
                        </div>
                    </aside>

                </div>
                <div class="col-lg-8 content-area">
                    <div class="cmt-service-single-content-area">
                        <div class="cmt-service-description">
                            <h4>Gözetleme Dronları</h4>
                            <p>Gözetleme droneları, güvenlik, keşif ve izleme gibi amaçlarla kullanılan insansız hava araçlarıdır. Bu dronlar, genellikle yüksek çözünürlüklü kameralar, termal kameralar ve diğer sensörlerle donatılarak çeşitli gözetleme görevlerini yerine getirirler. Güvenlik amaçlı kullanıldıklarında, güvenlik güçlerinin ve güvenlik departmanlarının kritik bölgeleri, sınırları veya olay yerlerini izlemesine yardımcı olurlar. Zorlu ve tehlikeli bölgelere erişimin kısıtlı olduğu durumlarda, dronelar hızlı ve etkin bir şekilde gözetim sağlayabilirler.</p>
                            <p>Keşif amaçlı kullanıldıklarında, dronelar doğal afet bölgelerini, dağlık veya ormanlık alanları, denizleri ve diğer uzak bölgeleri keşfetmek için kullanılırlar. Bu, insanların ulaşması güç olan bölgelerde keşif ve izleme yapmayı mümkün kılar. Aynı zamanda gözetleme droneları, endüstriyel ve tarımsal alanlarda da kullanılır. Örneğin, orman yangınları gibi afetlerin erken tespiti ve izlenmesinde, enerji hatları veya boru hatları gibi altyapıların periyodik denetimi ve izlenmesinde, tarım arazilerinin verimliliğini artırmak için bitki sağlığı ve sulama durumunun izlenmesinde kullanılabilirler.</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="ttm_single_image-wrapper mt-20">
                                        <img class="img-fluid" src="/temps/images/Metayıldız Sav. Tek 6.png" alt="single_14">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="ttm_single_image-wrapper mt-20">
                                        <img class="img-fluid" src="/temps/images/Metayıldız Sav. Tek 7.png" alt="single_14">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </div>


</div>