@{
    ViewData["Title"] = "Savunma Robot";
    Layout = "~/Views/MainLayout.cshtml";
}


<!-- page-title end -->
<!--site-main start-->
<div class="site-main">
    <div class="row slick_slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "autoplay":true, "infinite":true, "centerMode":true, "initialSlide":2, "centerPadding":0, "responsive": [{"breakpoint":870,"settings":{"slidesToShow": 2}}, {"breakpoint":540,"settings":{"slidesToShow": 1}}]}'>

        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSRobot1.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSRobot2.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSRobot3.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSRobot4.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSRobot5.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSRobot6.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSRobot7.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
    </div>
    <div class="cmt-row sidebar cmt-sidebar-left cmt-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4  cmt-bg cmt-left-span  mt_80 pt-60 mb_80 pb-60 res-991-mt-0 res-991-pt-0 widget-area sidebar-left">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <aside class="widget widget-nav-menu">
                        <ul class="widget-menu">
                            <li><a href="/Home/MSSiriDrone">Siri Dronu</a></li>
                            <li><a href="/Home/MSTarım">Gökcil Dronu</a></li>
                            <li><a href="/Home/MSPuhu">Puhu Surveliance Dronu</a></li>
                            <li><a href="/Home/MSGölge">Gölge Surveliance Dronu</a></li>
                            <li><a href="/Home/MSVtol">VTOL</a></li>
                            <li class="active"><a href="/Home/MSRobot">Robot Köpek</a></li>
                        </ul>

                    </aside>
                    <aside class="widget widget-contact">

                        <div class="cmt-col-bgcolor-yes cmt-bgcolor-skincolor cmt-bg pt-20 pl-20 pr-20 pr-20 pb-20">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <p class="mb-10"><strong style="color:#ffff;">Bizimle İletişime Geçin</strong></p>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:05367433705">0 (536) 743 37 05</a></h4>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:02322701800">0 (232) 270 18 00</a></h4>
                            </div>
                        </div>
                    </aside>

                </div>
                <div class="col-lg-8 content-area">
                    <div class="cmt-service-single-content-area">
                        <div class="cmt-service-description">
                            <h4>Taşıyıcı Robot</h4>
                            <p>Son yıllarda gelişen robot teknolojisi, endüstri ve araştırma alanlarında büyük ilerlemeler kaydetmiştir. Özellikle hareket yetenekleri ve otonomi konusunda dikkat çeken robotlar, birçok alanda çeşitli uygulamalara sahip.</p>
                            <p>Robot Taşıyıcı, farklı arazi şartlarında ve koşullarda, askeri ve sivil alanlarda kullanılabilecek, geniş çaplı kullanım alanları </p>
                            <div class="row ">
                                <div class="col-sm-6">
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/settings.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Özellikler</h5>
                                            </div>
                                            <div class="featured-desc row justify-content-center">
                                                <ul class="px-2" style="list-style-type:none;">
                                                    <li>Menzil : 1km</li>
                                                    <li>Hız: 0.6 m/s</li>
                                                    <li>Ağırlık: 2.5 kg</li>
                                                    <li>Görev Süresi: 120dk</li>
                                                    <li>Yük Kapasitesi: 0.5 kg</li>
                                                    <li>Boyutlar: 650x300x420 mm</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <!--featured-icon-box-->
                                <div class="col-sm-6">
                                    <!--featured-icon-box-->
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/box.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Paket</h5>
                                            </div>
                                            <div class="featured-desc row justify-content-center">
                                                <ul class="px-2" style="list-style-type:none;">
                                                    <li>Type-C</li>
                                                    <li>Adaptör</li>
                                                    <li>Batarya</li>
                                                    <li>Robot Taşıyıcı</li>
                                                    <li>Kontrol Kumandası</li>
                                                    <li>Kontrol Kumandası Adaptörü</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <!--featured-icon-box-->
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </div>


</div>