@{
    ViewData["Title"] = "Savunma Drone";
    Layout = "~/Views/MainLayout.cshtml";
}


<!-- page-title end -->
<!--site-main start-->
<div class="site-main">
    <div class="row slick_slider" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "autoplay":true, "infinite":true, "centerMode":true, "initialSlide":2, "centerPadding":0, "responsive": [{"breakpoint":870,"settings":{"slidesToShow": 2}}, {"breakpoint":540,"settings":{"slidesToShow": 1}}]}'>

        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSSavunmaDrone1.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSSavunmaDrone2.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSSavunmaDrone6.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSSavunmaDrone4.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSSavunmaDrone5.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSSavunmaDrone6.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
        <div class="cmt-box-col-wrapper col-lg-12">
            <div class="featured-imagebox featured-imagebox-post style3">
                <div class="cmt-post-thumbnail featured-thumbnail">
                    <img class="img-fluid" src="/temps/images/MSSavunmaDrone7.jpg" />
                </div>
            </div><!-- featured-imagebox-post end-->
        </div>
    </div>

    <div class="cmt-row sidebar cmt-sidebar-left cmt-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4  cmt-bg cmt-left-span  mt_80 pt-60 mb_80 pb-60 res-991-mt-0 res-991-pt-0 widget-area sidebar-left">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <aside class="widget widget-nav-menu">
                        <ul class="widget-menu">
                            <li class="active"><a href="/Home/MSSiriDrone">Siri Dronu</a></li>
                            <li><a href="/Home/MSTarım">Gökcil Dronu</a></li>
                            <li><a href="/Home/MSPuhu">Puhu Surveliance Dronu</a></li>
                            <li><a href="/Home/MSGölge">Gölge Surveliance Dronu</a></li>
                            <li><a href="/Home/MSVtol">VTOL</a></li>
                            <li><a href="/Home/MSRobot">Robot Köpek</a></li>
                        </ul>
                    </aside>
                    <aside class="widget widget-contact">

                        <div class="cmt-col-bgcolor-yes cmt-bgcolor-skincolor cmt-bg pt-20 pl-20 pr-20 pr-20 pb-20">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <p class="mb-10"><strong style="color:#ffff;">Bizimle İletişime Geçin</strong></p>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:05367433705">0 (536) 743 37 05</a></h4>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:02322701800">0 (232) 270 18 00</a></h4>
                            </div>
                        </div>
                    </aside>

                </div>
                <div class="col-lg-8 content-area">
                    <div class="cmt-service-single-content-area">
                        <div class="cmt-service-description">
                            <h4>Siri Keşif ve Gözetleme Dronu</h4>
                            <p>Savunma droneları, askeri amaçlar için tasarlanmış ve kullanılan insansız hava araçlarıdır. Bu dronlar, çeşitli askeri görevleri yerine getirmek için kullanılır ve çeşitli avantajlar sunar. Keşif ve gözetleme, istihbarat toplama, hava gözetleme ve tahribat, hedef belirleme ve imha gibi görevlerde etkin bir şekilde kullanılırlar. Ayrıca, lojistik ve kargo taşıma, tehlikeli ve zorlu ortamlarda görev yapma ve sınır güvenliği gibi alanlarda da önemli bir rol oynarlar. Savunma droneları, askeri operasyonların etkinliğini artırmak, düşmanı izlemek ve ülke güvenliğini sağlamak için önemli bir araç olarak kabul edilirler. </p>
                            <p>Gelişen teknoloji ile birlikte sürekli olarak geliştirilen bu dronlar, askeri strateji ve savunma alanında kritik bir rol oynamaktadır.</p>
                            <div class="row ">
                                <div class="col-sm-6">
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/drone.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Drone</h5>
                                            </div>
                                            <div class="featured-desc row justify-content-center">
                                                <ul class="px-2" style="list-style-type:none;">
                                                    <li>Uçuş Süresi: 20 dk</li>
                                                    <li>Maksimum Hız: 18 m/s</li>
                                                    <li>Uçuş Yüksekliği: 120 m</li>
                                                    <li>Max İniş Hızı: 1.5 m/s</li>
                                                    <li>Max Kalkış Hızı: 6 m/s</li>
                                                    <li>Sensor: 1/2.3-inch 12.4M Exmor R Sensor</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/settings.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Özellikler</h5>
                                            </div>
                                            <div class="featured-desc row justify-content-center">
                                                <ul class="px-2" style="list-style-type:none;">
                                                    <li>Voltaj： 17.5V</li>
                                                    <li>Ağırlık: 1.37 kg</li>
                                                    <li>Boyut: 300x146x139 mm</li>
                                                    <li>Nominal Gücü: 46.4 W</li>
                                                    <li>Frekansı: 2426.5MHz~2461MHz</li>
                                                    <li>Transmisyon Gücü (EIRP): <23dBm</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <!--featured-icon-box-->
                                <div class="col-sm-6">
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/pilot.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Kontrol Kumandası</h5>
                                            </div>
                                            <div class="featured-desc row justify-content-center">
                                                <ul class="px-2" style="list-style-type:none;">
                                                    <li>Batarya</li>
                                                    <li>Adaptör</li>
                                                    <li>Ulusal Dizayn</li>
                                                    <li>4GB RAM & 64GB ROM</li>
                                                    <li>Maksimum Uzaklık: 2km</li>
                                                    <li>Transmisyon Gücü (EIRP): <23dBm</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div><!-- featured-icon-box end-->
                                    <!--featured-icon-box-->
                                    <div class=" featured-icon-box icon-align-top-content style5 border bor_rad_3">
                                        <div class="featured-icon">
                                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-lg">
                                                <img src="/temps/icons/box.png" />
                                            </div>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Paket</h5>
                                            </div>
                                            <div class="featured-desc row justify-content-center">
                                                <ul class="px-2" style="list-style-type:none;">
                                                    <li>Siri Dron</li>
                                                    <li>Type-C</li>
                                                    <li>Adaptör</li>
                                                    <li>Batarya Çifti</li>
                                                    <li>Kontrol Adaptörü</li>
                                                    <li>Kontrol Kumandası</li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <!--featured-icon-box-->
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </div>


</div>
