@{
    ViewData["Title"] = "Savunma Drone";
    Layout = "~/Views/MainLayout.cshtml";
}


<!-- page-title end -->
<!--site-main start-->
<div class="site-main">
    <!--
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <video class="d-block w-100" width="640" height="360" autoplay loop muted>
                    <source src="/temps/video/mySavunma.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="carousel-item">
                <video class="d-block w-100" width="640" height="360" autoplay loop muted>
                    <source src="/temps/video/mySavunma2.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    -->
    <div class="cmt-row sidebar cmt-sidebar-left cmt-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4  cmt-bg cmt-left-span  mt_80 pt-60 mb_80 pb-60 res-991-mt-0 res-991-pt-0 widget-area sidebar-left">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <aside class="widget widget-nav-menu">
                        <ul class="widget-menu">
                            <li><a href="/Home/MSSavunmaDrone">Savunma Dronu</a></li>
                            <li class="active"><a href="/Home/MSTarım">Tarım Dronu</a></li>
                            <li><a href="/Home/MSGözetleme">Gözetleme Dronu</a></li>
                            <li><a href="/Home/MSPuhu">Puhu Surveliance Dronu</a></li>
                            <li><a href="/Home/MSGölge">Gölge Surveliance Dronu</a></li>
                            <li><a href="/Home/MSGökcil">Gökcil</a></li>
                            <li><a href="/Home/MSVtol">VTOL</a></li>
                            <li><a href="/Home/MSIha">IHA Sistemi</a></li>
                            <li><a href="/Home/MSRobot">Robot Köpek</a></li>
                        </ul>
                    </aside>
                    <aside class="widget widget-contact">

                        <div class="cmt-col-bgcolor-yes cmt-bgcolor-skincolor cmt-bg pt-20 pl-20 pr-20 pr-20 pb-20">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <p class="mb-10"><strong style="color:#ffff;">Bizimle İletişime Geçin</strong></p>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:02325030015">0 (232) 503 00 15</a></h4>
                            </div>
                        </div>
                    </aside>

                </div>
                <div class="col-lg-8 content-area">
                    <div class="cmt-service-single-content-area">
                        <div class="cmt-service-description">
                            <h4>Tarım Droneları</h4>
                            <p>Tarım droneları, tarım sektöründe kullanılan insansız hava araçlarıdır ve tarım süreçlerini optimize etmek amacıyla tasarlanmışlardır. Bu dronlar, tarım arazilerinin düzenli olarak izlenmesini ve yönetilmesini sağlar, bitki sağlığının izlenmesi için kullanılır ve hastalık, zararlı böcek veya diğer zararlıların erken tespitiyle tarım ürünlerinin verimliliğini artırır. </p>
                            <p>Ayrıca, hassas sulama ve gübreleme yaparak kaynakların daha verimli kullanılmasına yardımcı olur ve toprak analizi yaparak toprak verimliliği ve besin maddesi içeriği gibi önemli parametreleri belirler. Tarım droneları aynı zamanda hasat zamanı geldiğinde tarım ürünlerini tespit eder ve hasat süreçlerini kolaylaştırır. Tarım alanlarının doğru bir şekilde ekilmesini sağlar ve tarım planlamasına yardımcı olur. Bu sayede tarım sektöründe verimlilik artar, kaynaklar daha etkin kullanılır ve tarım süreçleri daha sürdürülebilir hale gelir. Tarım droneları, tarımın geleceğinde önemli bir rol oynamaya devam edecektir.</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="ttm_single_image-wrapper mt-20">
                                        <img class="img-fluid" src="/temps/images/Tarım Dron 6.png" alt="single_14">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="ttm_single_image-wrapper mt-20">
                                        <img class="img-fluid" src="/temps/images/Tarım Dron 5.png" alt="single_14">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </div>


</div>
