@{
    ViewData["Title"] = "Eğitim Simülasyonları";
    Layout = "~/Views/MainLayout.cshtml";
}


<!-- page-title end -->
<!--site-main start-->
<div class="site-main">

    <div class="cmt-row sidebar cmt-sidebar-left cmt-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4  cmt-bg cmt-left-span  mt_80 pt-20 mb_80 pb-20 res-991-mt-0 res-991-pt-0 widget-area sidebar-left">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <aside class="widget widget-nav-menu">
                        <ul class="widget-menu">
                            <li><a href="/Home/MYYapayZeka">Yapay Zeka</a></li>
                            <li><a href="/Home/MYArttırılmışGerçeklik">Virtual Reality (VR)</a></li>
                            <li><a href="/Home/MYOyunGeliştirme">Oyun Geliştirme</a></li>
                            <li class="active"><a href="/Home/MYEgitimSimulasyonu">Eğitim Simülasyonu</a></li>
                        </ul>
                    </aside>
                    <aside class="widget widget-contact">

                        <div class="cmt-col-bgcolor-yes cmt-bgcolor-skincolor cmt-bg pt-20 pl-20 pr-20 pr-20 pb-20">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <p class="mb-10"><strong style="color:#ffff;">Bizimle İletişime Geçin</strong></p>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:05367433705">0 (536) 743 37 05</a></h4>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:02322701800">0 (232) 270 18 00</a></h4>
                            </div>
                        </div>
                    </aside>

                </div>
                <div class="col-lg-8 content-area">
                    <div class="cmt-service-single-content-area">
                        <div class="cmt-service-description">
                            <h4>Eğitim Simülasyonları</h4>
                            <p>
                                Unity ve Unreal Engine teknolojileriyle birlikte uzman kadromuzla sizler için sanal alemde eğitim simülasyonları hazırlıyoruz.
                                Tübitak ile birlikte gerçekleştirdiğimiz çalışma sonucu, Psikolog adayı öğrencilerimiz için sanal alemde telepatik tedavi yöntemi artık mümkün.
                            </p>
                            <p>Metayıldız olarak, AR alanında uzmanlaşmış bir ekip olarak, çeşitli uygulama ve araştırma çalışmaları gerçekleştiriyoruz. AR alanında uzmanlaşmış bir ekip olarak, çeşitli uygulama ve araştırma çalışmalarını sizlerle buluşturuyoruz..</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="ttm_single_image-wrapper mt-20">
                                        <img class="img-fluid" src="/temps/images/unrealunity.jpg" alt="single_14">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon cmt-list-icon-color-skincolor mt-20">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </div>


</div>

