@{
    ViewData["Title"] = "Oyun Geliştirme";
    Layout = "~/Views/MainLayout.cshtml";
}


<!-- page-title end -->
<!--site-main start-->
<div class="site-main">


    <div class="cmt-row sidebar cmt-sidebar-left cmt-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4  cmt-bg cmt-left-span  mt_80 pt-20 mb_80 pb-20 res-991-mt-0 res-991-pt-0 widget-area sidebar-left">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <aside class="widget widget-nav-menu">
                        <ul class="widget-menu">
                            <li><a href="/Home/MYYapayZeka">Yapay Zeka</a></li>
                            <li><a href="/Home/MYArttırılmışGerçeklik">Virtual Reality (VR)</a></li>
                            <li><a href="/Home/MYOyunGeliştirme">Oyun Geliştirme</a></li>
                            <li><a href="/Home/MYEgitimSimulasyonu">Eğitim Simülasyonu</a></li>
                            <li class="active"><a href="/Home/MYGamingo">Gamingo Studyoları</a></li>
                        </ul>
                    </aside>
                    <aside class="widget widget-contact">

                        <div class="cmt-col-bgcolor-yes cmt-bgcolor-skincolor cmt-bg pt-20 pl-20 pr-20 pr-20 pb-20">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <p class="mb-10"><strong style="color:#ffff;">Bizimle İletişime Geçin</strong></p>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:05367433705">0 (536) 743 37 05</a></h4>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:02322701800">0 (232) 270 18 00</a></h4>
                            </div>
                        </div>
                    </aside>
                            <img class="img-fluid" src="/temps/images/GAMINGO_LOGO.png" alt="Gamingo Studios">
                </div>
                
                <div class="col-lg-8 content-area">
                    <div class="cmt-service-single-content-area">
                        <div class="cmt-service-description">
                            <h4>Gamingo Studyoları: Oyun Dünyasının Yaratıcı Rüzgarları!</h4>
                            <p>Gamingo Studyoları, oyun tutkunlarına yepyeni dünyalar sunma misyonuyla yola çıktı. Yaratıcılığın sınırlarını zorlayarak gerçeklik ve hayal gücünü bir araya getiren stüdyomuz, oyun deneyimlerine yeni bir boyut katıyor. İşte yaptıklarımız ve sizi heyecanlandırmaya yönelik bir parça:</p>
                            <p>
                                <h5>🎮 Run for Exodus: Gerçeklikten Kaçış!</h5>
                                Gamingo, VR headset dünyasına nefes kesen bir giriş yaptı. "Run for Exodus" isimli VR oyunumuzla gerçek dünyanın sınırlarını aşarak farklı bir boyuta adım atın. Adrenalin dolu kaçış sahneleri ve görsel şölenle dolu dünyamızda, gerçekliği unutarak maceranın içine dalın. İçinizdeki kaşif ruhu uyandırmak için hazır mısınız?
                            </p>
                            <h5>🕹️ Trading Simulation: Hayatta Kalma Stratejisi!</h5>
                                Gamingo, oyun dünyasının en heyecanlı konularından birini ele alıyor: ticaret ve hayatta kalma! "Trading Simulation" adlı oyunumuz, bu temayı eşsiz bir deneyimle birleştiriyor. Strateji yaparak kaynakları yönetecek, zorlu koşullarda ticaretin inceliklerini öğreneceksiniz. Siz de hayatta kalmak için ne kadar yeteneklisiniz?
                            </p>
                            <p>
                                <h5>🚀 Space Odyssey: Uzayın Derinliklerine Yolculuk!</h5>
                                Gamingo'nun VR oyunlarının bir başka yıldızı olan "Space Odyssey", uzayın büyüleyici dünyasını keşfetmenizi sağlıyor. Gerçeklikten uzaklaşıp yıldızlar arasında bir yolculuğa çıkın. Uzak galaksileri keşfedin, yıldız sistemlerinin sırlarını çözün. Bu VR deneyimiyle uzaya gitmek artık hayal değil!
                            </p>
                            <p>
                                Gamingo Studyoları olarak amacımız, oyuncuları heyecan verici dünyalara taşımak ve sınırsız eğlence sunmaktır. Biz, oyunların sadece bir oyun olmadığına inanıyoruz; onlar, macera ve keşif dolu bir yolculuktur. Hayal gücünüze meydan okumak ve gerçekliği değiştirmek için sizi oyun dünyamıza davet ediyoruz. Gamingo ile hayal gücünüzü özgür bırakın, yeni dünyalara yelken açın!
                            </p>
                        </div>
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </div>


</div>

