@{
    ViewData["Title"] = "Savunma Dronu";
    Layout = "~/Views/MainLayout.cshtml";
}


<!-- page-title end -->
<!--site-main start-->
<div class="site-main">

    <div class="cmt-row sidebar cmt-sidebar-left cmt-bgcolor-white clearfix ">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4  cmt-bg cmt-left-span  mt_80 pt-60 mb_80 pb-60 res-991-mt-0 res-991-pt-0 widget-area sidebar-left">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>
                    <aside class="widget widget-nav-menu">
                        <ul class="widget-menu">
                            <li class="active"><a href="/Home/MYYapayZeka">Yapay Zeka</a></li>
                            <li><a href="/Home/MYAttırılmışGerçeklik">Virtual Reality (VR)</a></li>
                            <li><a href="/Home/MYOyunGeliştirme">Oyun Geliştirme</a></li>
                            <li><a href="/Home/MYEgitimSimulasyonu">Eğitim Simülasyonu</a></li>
                        </ul>
                    </aside>
                    <aside class="widget widget-contact">

                        <div class="cmt-col-bgcolor-yes cmt-bgcolor-skincolor cmt-bg pt-20 pl-20 pr-20 pr-20 pb-20">
                            <div class="cmt-col-wrapper-bg-layer cmt-bg-layer">
                                <div class="cmt-col-wrapper-bg-layer-inner"></div>
                            </div>
                            <div class="layer-content">
                                <p class="mb-10"><strong style="color:#ffff;">Bizimle İletişime Geçin</strong></p>
                                <h4><i class="flaticon-call mr-3"></i><a href="tel:02325030015">0 (232) 503 00 15</a></h4>
                            </div>
                        </div>
                    </aside>

                </div>
                <div class="col-lg-8 content-area">
                    <div class="cmt-service-single-content-area">
                        <div class="cmt-featured-wrapper mb-40 res-991-mb-20">
                            <img class="img-fluid" src="~/Content/images/şirketler/hirayazilim1.png" alt="">
                        </div>
                        <div class="cmt-service-description">
                            <h4>Yapay Zeka ile Makine Öğrenmesi</h4>
                            <p>Yapay zeka ve makine öğrenmesi tekniklerini kullanarak çeşitli problemleri çözmeyi amaçlayan bir araştırma ve uygulama çalışmaları gerçekleştiriyoruz. Amacımız, veri analizi, tahmin, sınıflandırma veya örüntü tanıma gibi çeşitli alanlarda yapay zeka yöntemlerini kullanarak verimli ve etkili çözümler elde etmektir.</p>
                            <p>Çığ gibi büyüyen yapay zeka alanında biz de Metayıldız olarak yerimizi aldık. İhtiyacınız dahilinde uygulamalarınızı ve web sitelerinizi yapay zeka destekli geliştiriyoruz.</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="ttm_single_image-wrapper mt-20">
                                        <img class="img-fluid" src="/temps/images/aiproject.jpg" alt="single_14">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon cmt-list-icon-color-skincolor mt-20">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </div>

</div>
<div class="site-main">
    <div class="cmt-row sidebar cmt-sidebar-left cmt-bgcolor-white clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-4  cmt-bg cmt-left-span  mt_80 pt-60 mb_80 pb-60 res-991-mt-0 res-991-pt-0 widget-area sidebar-left">
                    <div class="cmt-col-wrapper-bg-layer cmt-bg-layer"></div>



                </div>
                <div class="col-lg-8 content-area">
                    <div class="cmt-service-single-content-area">
                        <div class="cmt-featured-wrapper mb-40 res-991-mb-20">
                            <img class="img-fluid" src="~/Content/images/şirketler/hirayazilim1.png" alt="">
                        </div>
                        <div class="cmt-service-description">
                            <h4>Yapay Zeka ile Kimlik Tespiti</h4>
                            <p>Metayıldız Savunma Teknolojileri ortaklığı ile birlikte, üretilen askeri dronelara yapay zeka desteği ile kimlik ve yer tespiti sağlıyoruz.</p>
                            <p>Görüntü İşleme teknolojisini kullanarak bir kaç veri ile çok hızlı bir şekilde yapay zeka kişiyi ve yeri öğrenebiliyor, Bu teknolojiyi savunmada avantaja çevirebilmek adına Drone`un gözüne yerleştiriyoruz.</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="ttm_single_image-wrapper mt-20">
                                        <img class="img-fluid" src="/temps/images/detection.jpg" alt="single_14">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="cmt-list cmt-list-style-icon cmt-list-icon-color-skincolor mt-20">
                                    </ul>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </div>


</div>
