@{
    ViewData["Title"] = "Vizyon ve Misyon";
    Layout = "~/Views/MainLayout.cshtml";
}

<section class="cmt-row about_2-section cmt-bgcolor-grey clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mx-auto">
                <div class="ttm_single_image-wrapper">
                    <h2 class="title" style="font-size:30px;"> <strong>Vizyon</strong></h2>
                </div>
                <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
                    <div class="featured-icon">
                        <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-sm">
                            <i class="fa fa-circle-o"></i>
                        </div>
                    </div>
                    <div class="featured-content">
                        <div class="featured-desc">
                            <p style="color:black; font-size:16px;">
                                MetaYıldız Bilişim Teknolojileri olarak, yenilikçi ve öncü yazılım çözümleri sağlayıcısı olma vizyonuyla hareket eden bir yazılım geliştirme şirketidir. Teknolojinin hayatları ve iş dünyasını dönüştürebilecek gücüne inanıyoruz ve bu becerileri ve uzmanlığı kullanarak dünyaya pozitif bir etki yapmaya kararlıyız.
                                Vizyonumuz, yaratıcılığı, inovasyonu ve müşteri odaklılığı ile bilinen bir şirket olmaktır. İnsanların zorlu ve ödüllendirici projeler üzerinde çalışabileceği, ilham alabileceği bir yer olmak istiyoruz.
                                Yazılım geliştirme alanının geleceğinin parlak olduğuna inanıyoruz ve bu alanda lider olma heyecanını yaşıyoruz. Müşterilerimize en iyi çözümleri sunarak teknolojinin hızına ayak uydurmayı taahhüt ediyoruz.
                            </p>
                        </div>
                    </div>

                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-sm">
                                <i class="fa fa-circle-o"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-desc">
                                <p style="color:black; font-size:16px;">
                                    Biz MetaYıldız Bilişim Teknolojileriyiz ve dünyayı değiştirmek için buradayız.

                                    Vizyonumuzu gerçekleştirmek için çalıştığımız bazı özel hedeflerimiz:

                                    Türkiye'de yazılım geliştirme hizmetlerinde öncü olmak.
                                    Müşterilerimizin ihtiyaçlarını karşılayan inovatif ve öncü yazılım çözümleri geliştirmek.
                                    İnsanların zorluklarla karşılaşacağı ve ilham alacağı harika bir çalışma ortamı yaratmak.
                                    Topluma geri vermek ve dünyada pozitif bir etki yaratmak.

                                    Bu hedeflere ulaşacak beceriye, deneyime ve kararlılığa sahip olduğumuza inanıyoruz ve Ocakçı Holding'in geleceğini heyecanla bekliyoruz, dünyada pozitif bir etki yaratmak için taahhüt ediyoruz.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="res-991-pt-30">
                    <!-- section title -->
                    <div class="section-title">
                        <div class="title-header">

                            <h2 class="title" style="font-size:30px;"> <strong>Misyon</strong></h2>
                        </div>
                    </div><!-- section title end -->


                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-sm">
                                <i class="fa fa-circle-o"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-desc">
                                <p style="color:black; font-size:16px;">
                                    Metayıldız Bilişim Teknolojileri, Türkiye'nin en yeni teknolojileri bünyesinde barındıran bir yazılım şirketidir. Gerçek dünya problemlerini çözen yenilikçi teknolojiler geliştirmeye kendimizi adamışız. Misyonumuz, işletmelere ve bireylere dijital çağda başarılı olabilmeleri için ihtiyaç duydukları araçları sağlamaktır.

                                    Teknolojinin dünyada pozitif bir etki yaratabileceğine inanıyoruz. Yeteneklerimizi ve uzmanlığımızı topluma olumlu bir etki yapmak için kullanmaktan heyecan duyuyoruz. Yapay zeka, makine öğrenimi ve blok zinciri teknolojisi alanlarındaki çalışmalarımız, sağlık hizmetlerinden eğitim ve finansa kadar birçok sektörde devrim yaratabilecek potansiyele sahiptir.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="featured-icon-box icon-align-before-content icon-ver_align-top style4">
                        <div class="featured-icon">
                            <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-skincolor cmt-icon_element-size-sm">
                                <i class="fa fa-circle-o"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-desc">
                                <p style="color:black; font-size:16px; ">

                                    Görevleri otomatikleştiren, karar verme süreçlerini geliştiren ve kişiselleştirilmiş bilgiler sağlayabilen yapay zeka (AI) çözümleri geliştiriyoruz.
                                    Verilerden öğrenip tahminlerde bulunabilen makine öğrenimi (ML) algoritmaları üzerinde çalışıyoruz.
                                    Güvenli ve şeffaf işlemler sunabilen blok zinciri tabanlı uygulamalar inşa ediyoruz.
                                    İşletmeler ve organizasyonlarla iş birliği yaparak onların yeni teknolojilere adapte olmalarına ve operasyonlarını geliştirmelerine yardımcı oluyoruz.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>
